body{
    background-image: url('../images/mushrooms.png');
    background-size: cover;
    background-repeat: no-repeat;    
}
.mid-button{
    padding-top: 50%;
}
.title img{
    width: 40%;
    
}
.btn-success{
    font-size: 2em;
}
@media screen and (min-width: 300px) and (max-width: 400px){
    .btn-success{
        font-size: 1.5em;
    }
}
@media screen and (min-width: 500px){
    body{
        background-image: url('../images/bg-home.jpg');
        background-size: cover;
        background-repeat: no-repeat;    
    }
    .mid-button{
        padding-top: 20%;
    }
    .title img{
        width: 20%;
        
    }
    .btn-success{
        font-size: 2.5em;
    }
}
